/**
 * APP
 */

$bg: #121212;
$bg-trans-80: rgba(18, 18, 18, 0.81);
$bg-trans-50: rgba(18, 18, 18, 0.51);

$bg-shade-1: #1a1a1a;
$bg-shade-2: #262626;
$bg-shade-3: #2a2a2a;
$bg-shade-4: #4e4e4e;

$type-bright: #fff;
$type-muted-1: rgba(255, 255, 255, 0.8);
$type-muted-2: rgba(255, 255, 255, 0.6);

$green: #3B8F0E;
$yellow: #BF950B;
$red: #A1220D;

$blue-1: #0A3CC7;
$blue-2: #0968BD;
