$hwk-primary-palette_: (
    50 : #ffeee6,
    100 : #ffd4c0,
    200 : #ffb796,
    300 : #ff9a6c,
    400 : #ff854d,
    500 : #ff6f2d,
    600 : #ff6728,
    700 : #ff5c22,
    800 : #ff521c,
    900 : #ff4011,
    A100 : #ffffff,
    A200 : #fff9f8,
    A400 : #ffcfc5,
    A700 : #ffb9ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$hwk-primary-palette: (
    50 : #fff0e7,
    100 : #fedac3,
    200 : #fec29b,
    300 : #fea972,
    400 : #fd9654,
    500 : #fd8436,
    600 : #fd7c30,
    700 : #fc7129,
    800 : #fc6722,
    900 : #fc5416,
    A100 : #ffffff,
    A200 : #fffaf8,
    A400 : #ffd3c5,
    A700 : #ffbfac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
